@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
}
#Login
{
    position: relative;
    float: left;
    width: 400px;
    margin-top: 250px;
    background-color: rgb(234, 234, 234);
    
    background-image: linear-gradient(rgb(184, 184, 184), rgb(234, 234, 234));
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgb(82, 82, 82) 3px 3px 7px;
}
#login-titulo
{
    font-family: 'Borel', cursive;
}

.form-label
{
    font-family: 'Oswald', sans-serif;
}